[Desktop Entry]
Name=
Exec=AppRun
Icon=AppRun.png
StartupNotify=true
X-AppImage-Title=
X-AppImage-Version=
X-AppImage-Release=
X-AppImage-URL=
X-AppImage-Developer=
X-AppImage-Licenses=
X-AppImage-ID=
X-AppImage-SourcePackage=
