[Desktop Entry]
Name=
Exec=AppRun
Icon=AppRun
Type=Application
Categories=Game
StartupNotify=true
X-AppImage-Title=
X-AppImage-Version=
X-AppImage-Release=
X-AppImage-URL=
X-AppImage-Developer=
X-AppImage-Licenses=
X-AppImage-ID=
X-AppImage-SourcePackages=
X-AppImage-Tags=
